@import "variables.scss";

.jfa-form{
	@include noNumberSpinner();
	@include noDateButtons();

	position: absolute;
	top:0;
	left:110%;
	transition:left 2s;
	&.open{
		left:0;
	}
	z-index: 1;

	background:$formBackground;
	overflow:scroll;
	overflow-x: hidden;

	width:100%;
	height: 100%;
	margin:0 auto;

	
	font-size: 2.5em;
	
	ul.questions{
		list-style: none;
		// margin-top: 50%;
		
		li.item{
			padding:10px;
			padding-left: 0;
			z-index:50;
			opacity: .4;
			
			transition: opacity 1.2s;
			&:not(:last-of-type){
				margin-bottom:30%;
			}
			&.active{
				opacity:1;
			}
			.question{
				display: inline-block;
			}
			.question:before, .num:before{
				font-family: FontAwesome;
				margin-right: 15px;
			}
			
			.answer{
				position: relative;
				margin-top: 15px;
				input{
					background:transparent;
					border:dashed 2px $answerBorderColor;
					
					width: 80%;
					margin-right: 20px;
					padding:5px;
					
					&:focus{
						outline:none;
					}

				}
				
				select{
					position: absolute;
					left:-10pc;
					z-index:-200;
					opacity: 0;
				}

				&.select{

					.btn-answer{
						background:$selectButtonBackground;
						color:$selectButtonColor;
						border-radius: 4px;
						border:none;
						transition:all .75s;
						margin-right: 10px;
					}
					.btn-answer:focus{
						outline:transparent;
					}
					
					.btn-answer.selected{
						background:$selectButtonChosenBackground;
						color:$selectButtonChosenColor;
						@include transform($scale:1.2);
					}

				}

				span.next{
					position: relative;
					background: $buttonBackground;
					
					display: inline-block;
					margin-top: 15px;
					padding: 1px 4px;

					border-radius: 4px;
					
					cursor:pointer;
				}
			}

			.num{
				position: relative;
				margin-left: 0;
				width: 20px;
				text-align: left;
			}
			.num:after{
				content: '.';
			}
			
		} //li.item
	}//ul.questions
	
	
	.submit{
		margin-left:40px;
		margin-bottom:$footerHeight + 200px;
		background: $buttonBackground;
		border-radius: 4px;
	}//.submit
	.footer{
		
		background: $footerColor;
		position: fixed;
		bottom: 0;
		z-index:100;
		
		width: 99%;
		height: $footerHeight;

		#progress, #nav-button{
			display: inline-block;
		}

		#progress{
			padding-left: 10px;
			font-size: .50em;
			width:40%;
			
			.bar{
				background: $progressBarColor;

				margin-top: 10px;
				width: 100%;
				height: 4px;
				border-radius: $progressBarRadius;

			}

			.progress{
				background: $progressBarTotalColor;

				transition-duration:$progressBarTransitionDur;
				width: 1%;
				height:100%;
				border-radius: $progressBarRadius;
				
			}

		}//#progress

		#nav-buttons{
			display: inline-block;
			margin-right: 4px;
			height: 100%;
			padding:2px;
			padding-right: 3px;
			width:50%;
			
			.nav{
				display: inline-block;
				background: $buttonBackground;
				height:85%;
				margin-top: 4px;
				
				margin-right: 4px;
				float: right;
				width: 45%;
				max-width:85px;
				i{
					position: relative;
					left:23%;
					top:20%;
					margin:auto;
				}

			}

			i:before{
				margin: 0 auto;
			}
		}//#nav-buttons
	}//.footer

	.side-bar{
		display: none;
	}
	

	@include screen(false, 'md'){
		.side-bar{
			display: block;
			position: fixed;
			right:50px;
			top:40%;
			
			
			.ques-bar{
				@include flexBox($align-items:center, $justify:flex-start);
				opacity: 1;
				transition: opacity 1.2s;
				&.done{
					opacity: .4;
				}
				.circ{
					width: 6px;
					height: 6px;
					margin-right: 5px;

					border-radius: 100%;
					background: white;
				}
				.ques{
					font-size: .5em;
				}
				margin-bottom: 10px;
			}//.ques-bar
		}//.side-bar
	}

}//.jfa-form